<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="author" content="Borisov Sergey">
    <title>My web app homework</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/4-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    

</head>

<body>


[% IF session.logged_in %]
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-fire"></span> MY HOMEWORK</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/edit">Редактирование</a>
                    </li>
                    <li>
                    	<a href=/token>Получить токен</a>
                    </li>

                    <li>
                    	<a href=/reqxml>Запросы к XML-RPC</a>
                    </li>

                    <li>
                        <a href="/logout">Выход</a>
                    </li>
                    <li>
                        <a href="/">Привет [% session.username %]</a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
[% ELSIF session.admin_in %]
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> <span class="glyphicon glyphicon-fire"></span> MY HOMEWORK</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/allusers">Просмотр пользователей</a>
                    </li>
                    <li>
                        <a href="/usersdell">Удаление пользователей</a>
                    </li>
                    <li>
                        <a href="/rey">Рейт-лимит</a>
                    </li>

                    <li>
                        <a href="/rpcserv">Сервер XML-RPC</a>
                    </li>

                    <li>
                        <a href="/logout">Выход</a>
                    </li>
                    <li>
                        <a href="/">Привет [% session.username %]</a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
[% ELSE %]
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-fire"></span> MY HOMEWORK</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/reg">Регистрация</a>
                    </li>
                    <li>
                        <a href="/login">Вход</a>
                    </li>
                   <li>
                   	   <a href="/login">[% user %] </a>
                   </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
<!-- /.container -->
    </nav>
[% END %]


<div class="container">
[% content %]
</div>
 
     <hr>

        <!-- Footer -->
        <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>     2016</p>
                </div>
            </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>        